<h1>The world's most advanced movie search engine.</h1>

<form>
  <label for="movie">Movie:
    <input type="text" name="movie" placeholder="Titanic II" />
    <button>Search</button>
  </label>
</form>

<div class="movie-results">
  <script type="text/html">
    <h2><%%= this.title %></h2>
    <img src="<%%= this.picture_url %>" alt="<%%= this.title %> movie poster" />
    <p><%%= this.plot %></p>
  </script>
</div>